{% include "header.tmpl" %} 
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <p class="nav-item nav-link disabled" tabindex="-1"><strong>{{ name }}</strong></p>
        <a href="{{ url_for('api_info') }}" class="nav-item nav-link">API doc</a>
        <a class="nav-item nav-link" href="{{ url_for('logout') }}">Salir</a>
      </div>
    </div>
  </nav>
  <h1 class="container d-flex justify-content-center">Buscador de libros</h1>
  <div class="container d-flex justify-content-center">
    <h1>{{ book[1] }}</h1>
  </div>

  <div class="container d-flex justify-content-center">
    <div>

    
      <p>Autor: <strong>{{ book[2] }} </strong></p>
      <br>
      <p>Publicado en <strong>{{ book[3] }}</strong>  </p>
      <br>
      <p>Promedio de calificacion en <a href="https://www.goodreads.com/">GoodsReads</a>: <strong>{{ average }}</strong> </p>
    </div>
  </div>

  <br>
  <hr class="separador">
  <div class="row d-flex justify-content-center" id="comentarios">
    {% if reviews %}
      
      {% for review in reviews %}

        <div class="comentario col-lg-5 col-md-5 col-sm-10">
          <div>
            <p>Calificacion: <strong>{{ review[1] }}</strong> </p>
            <p>De: <strong>{{ review[4]|nombresito }}</strong></p>
          </div>
          
          <p>Comentario: {{ review[2] }} </p>
          
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <hr class="separador">
  <div class="container review">
    <form method="post" class="container">
      <label>Calificacion</label>
      <input type="number" id="quantity" name="quantity" min="1" max="5" required>
      <label>Comentario</label>
      <textarea name="review" id="review" cols="70" rows="6" required></textarea>
      <br>
      <button type="submit">Enviar</button>
    </form>

  </div>

{% include "footer.tmpl" %}   
