{% include "header.tmpl" %}   
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <p class="nav-item nav-link disabled" tabindex="-1"><strong>{{ name }}</strong></p>
            <a href="{{ url_for('api_info') }}" class="nav-item nav-link">API doc</a>
            <a class="nav-item nav-link" href="{{ url_for('logout') }}">Salir</a>
          </div>
        </div>
      </nav>
      <h1 class="container d-flex justify-content-center">Buscador de libros</h1>

    <div class="container buscar">
        <h3>Buscar un libro por:</h3>
        <form method="post" >
          <label>Titulo</label>
          <input type="text" name="title" id="title" placeholder="Titulo">
          <br>
          <label>Autor</label>
          <input type="text" name="author" id="author" placeholder="Autor">
          <br>
          <label>Numero isbn</label>
          <input type="text" name="isbn" id="isbn" placeholder="ISBN">
          <br>
          <button type="submit">Buscar</button>
        </form>
    </div>
    <br>
    {% if books %}
        {% for book in books %}
            <div class="container book">
              <div>
                <p>Titulo: {{ book[1] }}</p>
                <p>Autor: {{ book[2] }}</p>
              </div>
              <div>
                <p>Publicado en {{ book[3] }}</p>
                
                <a href="{{ url_for('book', isbnumber=book[0]) }}"><button>Ver</button></a>
              </div>
                
            </div>
        {% endfor %}
    {% endif %}

{% include "footer.tmpl" %}   